---
- name: "Service | ensure repmgr service is running and {% if repmgr_repmgrd_service_enabled %}enabled{% else %}disabled{% endif %}"
  service:
    name: "{{ repmgr_service }}"
    state: started
    enabled: "{{ repmgr_repmgrd_service_enabled }}"
  
- name: "Service | ensure postgresql service is running and {% if postgres_service_enabled %}enabled{% else %}disabled{% endif %}" 
  service:
    name: "{{ postgres_service }}"
    state: started
    enabled: "{{ postgres_service_enabled }}"

- name: "Service | ensure repmgr-cluster-scripts.service and dependencies exist"
  template:
    src: "{{ item }}"
    dest: "/{{ item }}"
    mode: 0755
  with_items:
    - "etc/systemd/system/repmgr-cluster-scripts.service"
    - "usr/bin/repmgr-cluster-start.sh"
    - "usr/bin/repmgr-cluster-stop.sh"

- name: "Service | ensure repmgr-cluster-scripts service is running and {% if repmgr_cluster_scripts_enabled %}enabled{% else %}disabled{% endif %}" 
  service:
    name: "repmgr-cluster-scripts"
    state: started
    enabled: "{{ repmgr_cluster_scripts_enabled }}"
  when:
    - repmgr_cluster_scripts_enabled

- name: "Service | reload systemd daemon"
  systemd:
    daemon-reload: true
