---
- name: repmgr | verify node status
  command: "{{ repmgr_bin_dir }}/repmgr -f {{ repmgr_conf_dir }}/{{ repmgr_conf_file }} node check"
  args:
    warn: false
  changed_when: false
  register: result
  ignore_errors: true
  become: true
  become_user: "{{ repmgr_postgres_admin_user }}"
