# {{ansible_managed}}
###########################################################
# Replication Manager configuration file for Repmgr 5.x
###########################################################

#
# Cluster configuration
#
node_id={{repmgr_node_id}}
node_name={{ ansible_hostname }}

#
# Postgres connection
#
conninfo='{{ repmgr_conninfo }}'

#
# Common configuration
#
data_directory='{{ postgres_data_directory }}'
config_directory='{{ postgres_conf_directory }}'
pg_bindir='{{ repmgr_bin_dir }}'
log_file='{{ repmgr_log_file }}'

#
# Logging
#
log_level='{{ repmgr_loglevel }}'
log_facility='{{ repmgr_logfacility }}'

#
# Failover
#
failover={{ repmgr_failover }}
always_promote={{ repmgr_always_promote }}
promote_command='{{ repmgr_promote_command }}'
follow_command='{{ repmgr_follow_command }}'
service_start_command='sudo {{ repmgr_service_start_command }}'
service_stop_command='sudo {{ repmgr_service_stop_command }}'
service_restart_command='sudo {{ repmgr_service_restart_command }}'
service_reload_command='sudo {{ repmgr_service_reload_command }}'
